<input class="uk-input uk-margin-top uk-margin" [(ngModel)]="email" type="text" placeholder="Rentrez votre email">
<input class="uk-input uk-margin" [(ngModel)]="password" type="password" placeholder="Mot de passe">
<input class="uk-input uk-margin" [(ngModel)]="passwordConfirm" type="password" placeholder="Confirmer votre mot de passe">
<input class="uk-input uk-margin" [(ngModel)]="pseudo" type="text" placeholder="Pseudo">
<input class="uk-input uk-margin" [(ngModel)]="cityCode" type="text" placeholder="Code de la ville">
<input class="uk-input uk-margin" [(ngModel)]="city" type="text" placeholder="Nom de la ville">
<input class="uk-input uk-margin" [(ngModel)]="phone" type="text" placeholder="N° de téléphone">


<button class="uk-button uk-button-primary uk-width-1-1 uk-margin"
        (click)="sendData()">Envoyer les données
</button>
